/**
* Halcyon.css buttons
* @Author: Sebastian Muchui K
* About: 
* Halcyon.css aims at getting fine looking websites without
* tne use of extremely long class names
* Year: 2023
* LICENSE: MIT
*/

/**
* Use ./_colors.scss
*/

.default
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 15px 15px;
    color: $white;
    font-weight: 600;   
}

.btn-black
{
    background-color: $black;
    @extend .default;

}

.btn-white
{
    background-color: $white;
    @extend .default;
}

.btn-pink
{
    background-color: $pink;
    @extend .default;}

.btn-blue
{
    background-color: $blue;
    @extend .default;
}

.btn-green
{
    background-color: $green;
    @extend .default;
}

.btn-gold
{
    background-color: $gold;
    @extend .default;
}

.btn-grey
{
    background-color: $grey;
    @extend .default;
}

.btn-green
{
    background-color: $green;
    @extend .default;
}

.btn-purple
{
    background-color: $purple;
    @extend .default;
}

.btn-red
{
    background-color: $red;
    @extend .default;
}

.btn-white
{
    background-color: $white;
    @extend .default;
    color: $black;
    box-shadow: 1px 1px 1px 2px darken($white, 10);
}

.btn-black
{
    background-color: $black;
    @extend .default;    
}
