/**
* Halcyon.css main colors
* @Author: Sebastian Muchui K
* About: 
* Halcyon.css aims at getting fine looking websites without
* tne use of extremely long class names
* Year: 2023
* LICENSE: MIT
*/


$black: lighten(#222222, 3%);
$white: darken(#ffffff, 10);
$pink: #f32b88;
$blue: #23a1eb;
$green: #24d86c;
$gold: #cebd04;
$grey: #cecdcd;
$red: #931b1b;
$purple: #4b036e;
