
/**
* Halcyon.css
* Author: Sebastian Muchui Kamankura
* Year: 2023
* LICENSE: MIT
*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import 'animations/anime';
@import 'colors/colors';
@import 'displays/displays';
@import 'backgrounds/backgrounds';
@import 'typography/typography';
@import 'buttons/buttons';
@import 'functions/functions';
@import 'resizes/resize';
@import 'effects/effects';


/* Resets and defaults */

::-webkit-scrollbar
{
    width: 4px;
}
::-webkit-scrollbar-thumb
{
    background-color: darken($grey, 20);
    border-radius:10px;
}

*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: none;
    border-collapse: collapse;
    color: #ccc;

}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: $white;
*
{
    color: $black;

    ::-webkit-scrollbar
    {
        width: 2px;
    }
    ::-webkit-scrollbar-thumb
    {
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        border-radius:10px;
    }
    }

header
{
    border: none;
    box-sizing: border-box;
    padding: 0 30px;
}

form
{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    align-items: center;
    justify-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 10px;


    *
    {
        margin-bottom: 10px;
    }
    
    input, textarea, select
    {
        color: $black;
        background-color: darken($white, 3%);
        padding: 5px 15px;
        border-radius: 12.5px;
        height: 40px;
        font-size: 12px;
        width: 80%;
    }

    // Radio
    input[type="radio"]
    {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 5px;
    }

    
    

    

    textarea
    {
        height: 90px;
        resize: none;
    }

    button
    {
        width: 80%;
    }
}

.container
{
    padding: 5px;
}

}
