
/**
* Halcyon.css
* Author: Sebastian Muchui Kamankura
* Year: 2023
* LICENSE: MIT
* Have fun :)
*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import 'colors/colors';
@import 'displays/displays';
@import 'typography/typography';
@import 'animations/anime';
@import 'buttons/buttons';
@import 'functions/functions';


/* Resets  */

*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: none;
    border-collapse: collapse;
    border-radius: 10px;
    color: #ccc;

}

body
{
    background-color: $white;
    width: 100vw;
    height: 100vh;
    border-radius: 0;

*
{
    color: $black;
}

form
{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    align-items: center;
    justify-items: flex-start;
    padding: 10px;


    *
    {
        margin-bottom: 10px;
    }
    
    input, textarea
    {
        color: $black;
        background-color: darken($white, 3%);
        padding: 5px 15px;
        border-radius: 12.5px;
        height: 40px;
        font-size: 12px;
        width: 80%;
    }

    textarea
    {
        height: 90px;
        resize: none;
    }

    button
    {
        width: 80%;

    }
}

.container
{
    padding: 5px;
}

}
