
/**
* Halcyon.css
* Author: Sebastian Muchui K
* About: Halcyon.css aims at getting fine looking websites without
* the use of extremely long class names
* Year: 2023
* LICENSE: MIT
*/

@import 'root';

body
{
    height: 100vh;
    

    form
    {
        height: 100vh;
        width: 80vw;
    }

}


/**
* Halcyon.css
* Made with ❤️‍🔥 by @astianmuchui
*/
