/**
* Halcyon.css main gateway file
* Author: Sebastian Muchui K
* Year: 2023
* LICENSE: MIT
*/

/* Compile this file to get the whole framework */

@import 'root';

body
{
    height: 100vh;
    

    form
    {
        height: 100vh;
        width: 80vw;
    }

}


/**
* Halcyon.css
* Made with ❤️‍🔥 by @astianmuchui
*/
