/**
* Halcyon.css animations
* @Author: Sebastian Muchui K
* About: 
* Halcyon.css aims at getting fine looking websites without
* the use of extremely long class names
* Year: 2023
* LICENSE: MIT
*/


@keyframes fade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes SlideInLeft
{
    0%
    {
        left: -50px;
    }

    25%
    {
        left: -30px;
    }

    50%
    {
        left: -10px;
    }
    
    75%
    {
        left: 5px;
    }

    100%
    {
        left: 0px;
    }
}

@keyframes SlideInRight
{
    0%
    {
        right: -50px;
    }

    25%
    {
        right: -30px;
    }

    50%
    {
        right: -10px;
    }
    
    75%
    {
        right: 5px;
    }

    100%
    {
        right: 0px;
    }
}

@keyframes SlideInUp
{
    0%
    {
        top: -50px;
    }

    25%
    {
        top: -30px;
    }

    50%
    {
        top: -10px;
    }
    
    75%
    {
        top: 5px;
    }

    100%
    {
        top: 0px;
    }
}

@keyframes SlideInDown
{
    0%
    {
        bottom: -50px;
    }

    25%
    {
        bottom: -30px;
    }

    50%
    {
        bottom: -10px;
    }
    
    75%
    {
        bottom: 5px;
    }

    100%
    {
        bottom: 0px;
    }
}


@keyframes SlideOutLeft
{
    0%
    {
        left: 0px;
    }

    25%
    {
        left: 5px;
    }

    50%
    {
        left: -10px;
    }
    
    75%
    {
        left: -30px;
    }

    100%
    {
        left: -50px;
    }
}

@keyframes SlideOutRight
{
    0%
    {
        right: 0px;
    }

    25%
    {
        right: 5px;
    }

    50%
    {
        right: -10px;
    }
    
    75%
    {
        right: -30px;
    }

    100%
    {
        right: -50px;
    }
}

@keyframes SlideOutUp
{
    0%
    {
        top: 0px;
    }

    25%
    {
        top: 5px;
    }

    50%
    {
        top: -10px;
    }
    
    75%
    {
        top: -30px;
    }

    100%
    {
        top: -50px;
    }
}

@keyframes SlideOutDown
{
    0%
    {
        bottom: 0px;
    }

    25%
    {
        bottom: 5px;
    }

    50%
    {
        bottom: -10px;
    }
    
    75%
    {
        bottom: -30px;
    }

    100%
    {
        bottom: -50px;
    }
}

@keyframes RotateIn
{
    0%
    {
        transform: rotate(-200deg);
    }

    100%
    {
        transform: rotate(0deg);
    }
}

@keyframes RotateOut
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(200deg);
    }
}

@keyframes ZoomIn
{
    0%
    {
        transform: scale(0);
    }

    100%
    {
        transform: scale(1);
    }
}

@keyframes ZoomOut
{
    0%
    {
        transform: scale(1);
    }

    100%
    {
        transform: scale(0);
    }
}

/**
* HandleAnimation - Make the class animateable 
* @param: none
* @return: relative positioning
*/

@mixin Animation
{
    position: relative;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.animate-left
{
    @include Animation;
    animation: SlideInLeft;
}

.animate-right
{
    @include Animation;
    animation: SlideInRight;
}

.animate-up
{
    @include Animation;
    animation: SlideInUp;
}

.animate-down
{
    @include Animation;
    animation: SlideInDown;
}

.animate-rotate
{
    @include Animation;
    animation: RotateIn;
}

.animate-zoom
{
    @include Animation;
    animation: ZoomIn;
}

.animate-fade
{
    @include Animation;
    animation: fade;
}

.animate-left-out
{
    @include Animation;
    animation: SlideOutLeft;
}

.animate-right-out
{
    @include Animation;
    animation: SlideOutRight;
}

.animate-up-out
{
    @include Animation;
    animation: SlideOutUp;
}

.animate-down-out
{
    @include Animation;
    animation: SlideOutDown;
}

.animate-rotate-out
{
    @include Animation;
    animation: RotateOut;
}

.animate-zoom-out
{
    @include Animation;
    animation: ZoomOut;
}
