/**
* Halcyon.css displays
* @Author: Sebastian Muchui K
* About: 
* Halcyon.css aims at getting fine looking websites without
* the use of extremely long class names
* Year: 2023
* LICENSE: MIT
*/

$columns:(1,2,3,4,5,6,7); // Grid Columns

@each $col in $columns
{
    .grid-#{$col}
    {
        display: grid;
        grid-template-columns: repeat(#{$col},1fr);
        grid-gap: 5px;
    }
}


*
{


.center-xy
{
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: center;
     justify-content: center;
     justify-items: center;
}

.center-x
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.center-y
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.ch-vertical
{
    height: max-content;
    display: flex;
    flex-direction: column;

    *
    {
        margin-bottom: 10px;
    }
}
}