/**
* Halcyon.css colors
* @Author: Sebastian Muchui K
* Year: 2023
* LICENSE: MIT
*/



$black: lighten(#0e0e0e, 3%);
$white: darken(#ffffff, 10);
$pink: #f32b88;
$blue: #23a1eb;
$green: #0fc458;
$gold: #cebd04;
$grey: #a3a3a3;
$red: #c02828;
$purple: #4b036e;
