/**
* Halcyon.css colors
* @Author: Sebastian Muchui K
* Year: 2023
* LICENSE: MIT
*/

/**
* Should you change any color here, re-compile the framework
* Also edit the buttons, typography and backgrounds file to make appropriate updates
*/


$black: lighten(#0e0e0e, 3%);
$white: darken(#ffffff, 1);
$pink: #f32b88;
$blue: #23a1eb;
$green: #0fc458;
$gold: #c1b20e;
$grey: #a3a3a3;
$red: #c02828;
$purple: #4b036e;
$navy: #00030a;
$orange: #ed7e0f;
$yellow: #e5e513;
$brown: #964b00;
$teal: #0b7272;
$maroon: #5f0909;
$olive: #848406;
$lime: #1bf71b;
$indigo: #3a0460;
$skyblue: #9cddf7;
$darkblue: #00008b;
$darkgreen: #025a02;
$darkred: #680202;
$darkgrey: #a9a9a9;
$darkpurple: #3b085f;
$darkpink: #ff1493;
$darkorange: #e28b20;
$darkyellow: #ffdd1c;
$darkbrown: #a5541b;
$darkteal: #0a9090;
$darkmaroon: #800000;
$darkolive: #556b2f;
$darklime: #32cd32;
$darkindigo: #200235;
$darkskyblue: #0ba3d5;
$lightgrey: #c5bfbf;
$lightpurple: #9677d3;
$lightpink: #de8d99;
$lightorange: #f2ac2b;
$lightyellow: #ffffe0;
$lightbrown: #d7b07d;
$lightteal: #38cfc0;
$lightmaroon: #ce4d7c;
$lightolive: #cec874;
$lightlime: #73e173;
$lightindigo: #8867cb;
$lightskyblue: #83c0e5;
