
@mixin breakpoint($breakpoint)
 {
    @if $breakpoint == 'sm'
     {
      .#{$breakpoint}-#{$selector}
       {
        @media (min-width: 640px)
         {
          @content;
        }
      }
    } @else if $breakpoint == 'md'
     {
      .#{$breakpoint}-#{$selector}
       {
        @media (min-width: 768px)
         {
          @content;
        }
      }
    } @else if $breakpoint == 'lg'
     {
      .#{$breakpoint}-#{$selector}
       {
        @media (min-width: 1024px)
         {
          @content;
        }
      }
    } @else if $breakpoint == 'xl'
     {
      .#{$breakpoint}-#{$selector}
       {
        @media (min-width: 1280px)
         {
          @content;
        }
      }
    } @else if $breakpoint == '2xl'
     {
      .#{$breakpoint}-#{$selector}
       {
        @media (min-width: 1536px)
         {
          @content;
        }
      }
    }
  }
  